.container {
    padding-top: 10px;
    font-size: 25px;
    text-align: center;
    a {
        font-size: 25px;
    }
}

.ant-form.login-form {
    width: 300px;
    margin: 100px auto 0;
    button {
        width: 100%;
    }
}
